body {
  margin: 0 0 0 10;
  text-align: center;


}
p {
    text-align: left;
}

.title {
    text-decoration: underline;
}

.top {
  background-color:  #FAFAFA;
  position: relative;
  padding-top: 30px;

}
